@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Amatic SC";
    src: url("../fonts/AmaticSC-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Tangerine";
    src: url("../fonts/Tangerine-Regular.ttf") format("truetype");
}

nav .nav-wrapper * {
    font-family: 'Amatic SC', cursive;
}

    nav .nav-wrapper {
    margin-top: 10px;
    padding-left: 10px;
    background-color: #fff;
}

.nav-wrapper .title {
    font-size: 3em;
}

.nav-wrapper a {
    font-size: 2em;
    color: var(--tertiary);
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        margin-left: 75px;
        left: 0;
        transform: none;
    }
}

nav .nav-wrapper a:hover,
nav .nav-wrapper a:focus,
.sidenav a:hover,
.sidenav a:focus {
    text-decoration: none;
}


.mr-mrs {
    display: flex;
    justify-content: center;
}

    .mr-mrs img {
        height: 150px;
        margin: 0 auto;
    }

.small-mr-mrs {
    height: 200px;
    margin: 0 auto;
}

div.nav {
    width: 100%;
}
