.navbar-inverse {
    background: white;
    color: darkblue;
    border: none;
    font-size: 24px;
    border-bottom: 1px solid #eee;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-inverse .navbar-toggle {
    border: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: darkblue;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #eee;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: navy;
}