:root {
    --primary: #014A81;
    --secondary: #661349;
    --tertiary: #3F165C;
    --light: #EDD1DF;
}

html * {
    font-family: "Caveat";
}


body {
    margin-bottom: 30px;
    font-size: 20px;
}

h1,
h2,
h3 {
    font-family: 'Caveat';
    text-align: center;
}

input {
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

input.center {
    text-align: center;
    font-size: 24px;
}

.content {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

    .content.narrow {
        width: 60%;
    }

.rsvp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    letter-spacing: 1px;
}

.rsvp button {
    font-size: 20px;
}

form,
form input,
form select,
form button,
form textarea {
    width: 100%;
    margin: 15px 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-size: 72px;
    font-family: 'Tangerine', cursive;
    color: white;
    position: absolute;
    margin-top: 15%;
}

@media (max-width: 781px) {
    .page-title {
        font-size: 48px;
    }
    .content,
    .content.narrow {
        width: 100%;
        padding: 20px;
        font-size: 20px;
    }
}

@media (max-width: 531px) {
    .page-title {
        font-size: 28px;
    }
}

.our-story {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.switch {
    margin: 20px 0;
}

    .switch label {
        font-size: 1em;
        font-weight: normal;
    }
.photos {
    display: flex;
    flex-wrap: wrap;
}

    .photos img {
        height: 250px;
        margin: 10px;
    }

.radio-headers {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.radio-headers div {
    flex: 1;
    text-align: center;
}
.radio {
    display: flex;
    justify-content: center;
}
.radio label,
.radio div {
    flex: 1;
    text-align: center;
}
.loading {
    font-size: 24px;
}
.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    height: 25px;
    width: 25px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}

    .form-radio:checked::before {
        position: absolute;
        font: 13px/1 'Open Sans', sans-serif;
        left: 9px;
        top: 5px;
        content: '\02143';
        transform: rotate(40deg);
    }

    .form-radio:hover {
        background-color: #dfd9d9;
    }

    .form-radio:checked {
        background-color:#dfd9d9;
    }

.margin-top {
    margin-top: 20px;
}

label {
    color: #666;
    cursor: pointer;
}

.forgot-link {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.form-control {
    font-size: 18px;
}

.send-btn {
    margin-top: 20px;
    font-size: 24px;
}

.totals {
    font-size: 24px;
    color: darkblue;
    display: flex;
    justify-content: space-between;
}

    .totals div {
        flex: 1;
    }

table tr th {
    text-align: center;
}

.fa-sort {
    color: lightgray;
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px
}

    .fa-sort:hover {
        color: gray;
    }