:root {
  --primary: #526b7f;
  --secondary: #8F3A65;
  --tertiary: #3f165c;
  --light: #edd1df;
}

html * {
  font-family: "InkFree";
  line-height: 1.5;
  letter-spacing: 1px;
}

.layout {
  position: relative;
}

@font-face {
    font-family: SegoeScript;
    src: url('/fonts/segoesc.ttf');
}

@font-face {
    font-family: InkFree;
    src: url('/fonts/Inkfree.woff');
}

.background {
  background-image: url('/images/wood.jpg');
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 500vw;
  height: 500vh;
  z-index: -1;
}

.leaves {
  margin: 0 auto;
  text-align: center;
}

.leaves img {
  width: 400px;
}

body {
  margin-bottom: 30px;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "InkFree";
  text-align: center;
}

h4 {
  font-size: 22px;
}

.navbar * {
  font-family: "InkFree";
}

.bordered {
    background-color: #fff;
    border: double #8F3A65;
    padding: 15px;
}
a {
  color: darkred;
}

a:hover {
  color: firebrick;
}

input {
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

input.center {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

.content {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 15px;
}

.content.narrow {
  width: 60%;
}

.rsvp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  letter-spacing: 1px;
}

.rsvp button {
  font-size: 16px;
}

form,
form input,
form select,
form button,
form textarea {
  width: 100%;
  margin: 15px 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
    font-size: 30px;
    font-family: "SegoeScript";
    color: #8F3A65;
}

@media (max-width: 781px) {
  .page-title {
    font-size: 30px;
    color: #8F3A65
  }
  .content,
  .content.narrow {
    width: 100%;
    padding: 20px;
    font-size: 16px;
  }
}

@media (max-width: 531px) {
  .page-title {
    font-size: 48px;
    color: #8F3A65;
  }

  .leaves img {
    width: 100%;
  }
}

.switch {
  margin: 20px 0;
}

.switch label {
  font-size: 1em;
  font-weight: normal;
}
.photos {
  display: flex;
  flex-wrap: wrap;
}

.photos img {
  height: 250px;
  margin: 10px;
}

.radio-headers {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.radio-headers div {
  flex: 1;
  text-align: center;
}
.rsvp-row {
  display: flex;
  justify-content: center;
}
.rsvp-row label,
.rsvp-row div {
  flex: 1;
  text-align: center;
}
.loading {
  font-size: 24px;
}
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  height: 25px;
  width: 25px;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 "Open Sans", sans-serif;
  left: 9px;
  top: 5px;
  content: "\02143";
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #dfd9d9;
}

.form-radio:checked {
  background-color: #72cb72;
  color: white;
}

.margin-top {
  margin-top: 20px;
}

label {
  color: #666;
  cursor: pointer;
}

.forgot-link {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.form-control {
  font-size: 18px;
}

.send-btn {
  font-size: 18px;
  width: 250px;
  margin: 20px auto;
}

.totals {
  font-size: 24px;
  color: maroon;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.totals div {
  flex: 1;
}

table tr th {
  text-align: center;
}

.fa-sort {
  color: lightgray;
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
}

.fa-sort:hover {
  color: gray;
}
.rt-resizable-header:focus {
  outline: none;
}
.ReactTable.-striped .rt-tr.-odd {
  background-color: #f0f5fc !important;
}

.rsvp-message {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.content h2 {
  margin-top: 0;
}

.our-story__content {
  flex: 1;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5em;
  margin-left: 30px;
}

.our-story__img {
  flex: 2;
}

@media (max-width: 1240px) {
  .our-story {
    flex-direction: column;
  }

  .our-story__content {
    max-width: 750px;
    margin: 15px;
  }
}

.glyphicon {
  color: #aaa;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
  white-space: unset !important;
}

.registry {
  text-align: center;
  margin-top: 30px;
}

.wedding-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.rsvp-inputs {
  max-width: 50%;
  margin: 0 auto;
}

.radio-headers div.wide,
.rsvp-row .wide {
  flex: 2;
}

.center {
    text-align: center;
}