:root {
    --primary: #014A81;
    --secondary: #661349;
    --tertiary: #3F165C;
    --light: #EDD1DF;
}

html * {
    font-family: "Caveat";
}


body {
    margin-bottom: 30px;
}

h1,
h2,
h3 {
    font-family: 'Caveat';
    text-align: center;
}
.content {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.rsvp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    letter-spacing: 1px;
}

form div input,
form div select {
    width: 100%;
    margin-bottom: 15px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-size: 72px;
    font-family: 'Tangerine', cursive;
    color: white;
    position: absolute;
    margin-top: 15%;
}

@media (max-width: 781px) {
    .page-title {
        font-size: 48px;
    }
}

@media (max-width: 531px) {
    .page-title {
        font-size: 28px;
    }
}

.our-story {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.switch {
    margin: 20px 0;
}

    .switch label {
        font-size: 1em;
        font-weight: normal;
    }
.photos {
    display: flex;
    flex-wrap: wrap;
}

    .photos img {
        height: 250px;
        margin: 10px;
    }