@font-face {
    font-family: "Montserrat";
    src:url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

html * {
    font-family: "Montserrat";;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
